:root {
    --background-color: #111613;
    --text-color: #FEFFE5;
    --border-color: #DC9887;
    --accent-color: #E8BB44;
    --overlay-color: rgba(254, 255, 229, 0.7);
    
    --head-text: josefine, Verdana, 'Arial Narrow Bold', sans-serif;
    --reg-text: Georgia, 'Times New Roman', serif;
}

@media screen and (max-width: 480px) {
 div.navbar {
        width: 90%;
        padding-left: 20px;
    }
 h1#greeting {
    margin-top: 75px;
    font-size: 38px;
    padding-left: 5%;
    padding-right: 5%;
 }
 div.blurb {
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.4;
    letter-spacing: 0.02em;
 }
 h2.pro_head {
    padding-left: 7%;
 }
 img.port_photo {
    margin-left: 5%;
    width: 90%;
    height: 75%;
 }
 div.image_overlay {
    display: none;
 }
 div.contact_display {
    display: flex;
 }
 div.bio {
    line-height: 1.4;
    letter-spacing: 0.02em;
    margin: 25px 5% 10px 5%;
 }
 div.photos {
    display: none;
 }
 
}

@font-face {
    font-family: josefine;
    src: url("../css/fonts/NT\ Josefine\ \(only\ personal\ use\).otf");
}

body {
    background-color: var(--background-color);
}

.name {
    font-family: var(--head-text);
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 0.2; 
    display: inline-block;
    color: var(--text-color);
}

a.nav {
    color: var(--text-color);
    text-decoration: none;
    padding-left: 55px;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.navbar {
    background-color: var(--background-color);
    font-family: var(--nonhead-text);
    border: 2px solid var(--border-color);
    border-radius: 2px;
    position: absolute;
    top: 20px;
    width: 25%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

p {
    font-family: var(--reg-text);
    font-size: 18px;
    letter-spacing: 0.1;
}

.display_box {
    margin: 3% 3% 0 3%;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

#greeting {
    font-size: 70px;
    font-family: var(--head-text);
    letter-spacing: 0.15em;
    color: var(--border-color);
    padding-left: 50px;
    display: block;
}

h2 {
    display: block;
    font-family: var(--head-text);
}

.blurb {
    color: var(--text-color);
    margin: 0px 45% 10px 75px; 
}

.right {
    text-align: right;
}

.projects {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.pro_head {
    color: var(--border-color);
    padding-top: 10px;
    padding-left: 50px;
    font-size: 38px;
    letter-spacing: 0.1em;
    display: block;
}

.image {
    position: relative;
}

.image a {
    color: var(--background-color)
}

.port_photo {
    display: block;
    width: 650px;
    height: 300px;
    object-fit: cover;
    margin: 10px 50px 25px 50px;
    border: 1px solid var(--border-color);
}

.image_overlay {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 651px;
    height: 301px;
    background: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-items: center;
    opacity: 0;
    transition: opacity 0.25s linear 0.05s;
}

.image_overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.image_overlay:hover {
    opacity: 1;
}

.image_overlay:hover > * {
    transform: translateY(0);
}

.port_text {
    margin-left: 25%;
    margin-right: 25%;
    color: (--background-color);
    font-weight: bold;
}

.phone_text {
    display: none;
}

.socials {
    float: right;
}

.icon {
    width: 25px;
    height: 25px;
    margin: 15px 20px 20px 0px;
}

/*conact pg specific*/

.contact_display {
    display: grid;
    grid-template-areas: "bio photos";
    grid-template-columns: 2fr 1fr;
    margin: 3% 3% 0 3%;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.bio {
    grid-area: bio;
    color: var(--text-color);
    margin: 0px 50px 10px 75px;
}

.bio h2 {
    color: var(--border-color);
    font-size: 32px;
    letter-spacing: 0.1em;
    margin-top: 40px;
}

.contact_link {
    color: var(--border-color);
}

.photos {
    grid-area: photos;
    margin-right: 50px;
    align-content: center;
}

.photo_st_1 {
    width: 275px;
    height: 175px;
    margin-top: 75px;
    margin-bottom: 25px;
    margin-left: 50px;
    object-fit: cover;
}

.head_shot {
    width: 275px;
    height: 275px;
    margin-left: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.photo_st_2 {
    width: 275px;
    height: 175px;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 50px;
    object-fit: cover;
}