:root {
    --background-color: #111613;
    --text-color: #FEFFE5;
    --border-color: #DC9887;
    --accent-color: #E8BB44;
    --overlay-color: rgba(254, 255, 229, 0.7);
    
    --head-text: asset_400, Impact, 'Arial Narrow Bold', sans-serif;
    --reg-text: prata, Georgia, 'Times New Roman', serif;
}

@font-face {
    font-family: asset_400;
    src: url(./fonts/asset-regular.ttf);
}

@font-face {
    font-family: prata;
    src: url(./fonts/Prata-Regular.ttf);
}

body {
    background-color: var(--background-color);
}

.name {
    font-size: 16px;
    line-height: 0.25; 
    display: inline-block;
    color: var(--text-color);
}

a.nav {
    color: var(--text-color);
    text-decoration: none;
    padding-left: 75px;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.navbar {
    background-color: var(--background-color);
    font-family: var(--nonhead-text);
    border: 2px solid var(--border-color);
    border-radius: 2px;
    position: absolute;
    top: 20px;
    width: 25%;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

p {
    font-family: var(--reg-text);
    letter-spacing: 0.1;
}

.display_box {
    margin: 3%;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

#greeting {
    font-size: 58px;
    font-family: var(--head-text);
    color: var(--text-color);
    padding-top: 10px;
    padding-left: 50px;
    display: block;
}

h2 {
    display: block;
    font-family: var(--head-text);
}

.bio {
    color: var(--text-color);
    margin: 75px 50% 10px 75px;
}

.right {
    text-align: right;
}

.projects {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.pro_head {
    color: var(--text-color);
    padding-top: 10px;
    padding-left: 50px;
    margin-top: 150px;
    font-size: 32px;
    display: block;
}

.image {
    position: relative;
}

.image a {
    color: var(--background-color)
}

.port_photo {
    display: block;
    width: 650px;
    height: 300px;
    object-fit: cover;
    margin: 10px 50px 25px 50px;
    border: 1px solid var(--border-color);
}

.image_overlay {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 651px;
    height: 301px;
    background: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-items: center;
    opacity: 0;
    transition: opacity 0.25s linear 0.05s;
}

.image_overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.image_overlay:hover {
    opacity: 1;
}

.image_overlay:hover > * {
    transform: translateY(0);
}

.port_text {
    margin-left: 25%;
    margin-right: 25%;
    color: (--background-color);
    font-weight: bold;
}

.contact_link {
    color: var(--border-color);
}

.socials {
    float: right;
}

.icon {
    width: 25px;
    height: 25px;
    margin: 15px 20px 20px 0px;
}

