body {
    background-color: black;
}

.display_box {
    margin: 10%;
    border: 2px solid white;
    background-color: black;
    color: white;
    display: grid;
    grid-template: 2fr 4fr 1fr / 2fr 1fr;
    grid-template-areas: "bio projects"
                         "bio projects"
                         "bio socials";
}

.bio {
    grid-area: bio;
    justify-items: center;
    padding: 15% 30% 25% 30%;
}

.projects {
    grid-area: projects;
    justify-items: center;
    padding: 65% 15% 20% 10%;
}

.socials {
    grid-area: socials;
    justify-content: right;
    padding-left: 40%;
    padding-right: 3%;
}